*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    width: 100%;
    border-bottom: 1px solid #ccc;
    display: inline-block;
   
    background-color: white;
    box-shadow: 0 2px 10px #000;
    z-index: 999;
}
#header .head{
    max-width: 1100px;
    margin: 0 auto;


}

#header .logo{
    width: 100px;
    display: inline-block;
  
    padding: 5px 0;
    float: left;
}

#header .logo span a{
    font-size: 8px;
    text-decoration: none;
    color: black;

}

#header .logo img{
    width: 94%;
    margin-bottom: -10px;
}
#header .sub-header li{
    display: inline-block;
    margin-right: 10px;

}
#header .sub-header li a:hover{
    color: #3399cc;
    border-bottom: 3px solid #3399cc;
    padding-bottom: 15px;
}
#header .sub-header li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.fa-ellipsis{
    font-size: 22px;
    color: black;
    transform: translateY(64%);
    
}

.more{
    display: inline-block;
}
#header .sub-header{
    display: inline-block;
    line-height: 52px;
    float: left;
   margin-left: 52px;
}

#header .sub-header .more{
    line-height: 52px;
    display: inline-block;


}
.icon{
    display: inline-block;
    line-height: 52px;
    float: right;
}

.fa-magnifying-glass{
    font-size: 22px;
    margin-right: 15px;
    color: black;
}

.fa-magnifying-glass:hover{
    color: #3399cc;
}
.fa-user{
    font-size: 22px;
    color: black;
}

/* ----------Content----------- */

#content{
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 1100px;

}

#content .hastag{
    width: 100%;
    display: inline-block;
    
}
#content .hastag .event li{
    display: inline-block;
    background-color: #f0f0f0;
    padding: 5px 9px;
    border-radius: 20px;
    margin-left: 10px;
}
#content .hastag .event li:hover{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    
}
#content .hastag .event li a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    
}
#content .hastag .event{
    display: inline-block;

}

.fa-arrow-trend-up{
    color: white;
    background-color: #FF6633	;
    padding: 7px 6px;
    border-radius: 20px;
    font-size: 15px;
}

.fa-hashtag{
    color: rgba(106,106,106,0.51);
    margin-right: 5px;
}

.weather span a img{
    width: 30px;
    height: 30px;
    transform: translateY(32%);
}

.weather span a {
    margin-right: 10px;
}

.both{
    float: left;
    padding: 10px 0;
}
.weather{
    display: inline-block;
   float: right;
}

.weather a{
    text-decoration: none;
    color: black;
}

.weather .icon{
    color: #ccc;
    display: none;
   
}

.weather:hover .icon{
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.weather .icon:active ~ .province{
    display: block;
}

.province{
    position: absolute;
    width: 280px;
    display: none;
    background-color: #fff;
}

.province input{
    padding: 13px 10px;
    background-color: #ccc;
    width: 100%;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.province .choose-city{
    display: block;
    width: 95%;
    margin-left: 10px;
    
}
.province .choose-city .temper img{
    width: 30px;
    height: 30px;
    transform: translateY(30%);
}

.province .choose-city li{
    display: block;
    border-bottom: 1px solid #EEEEEE	;
}
.province .choose-city li p{
    padding: 14px 0;
    display: inline-block;
}
.temper{
    float: right;
}

.province .title{
    color: #777777	;
    padding: 10px 0;
    margin-left: 10px;
}

.other-cities{
    overflow-y: auto;
    height: 200px;
    width: 300px;
}

.left{
    width: 30%;
    display: inline-block;
}

.news{
    width: 100%;
    float: left;
    padding: 15px 0;

}

.news:hover a{
    color: #006BA0;
}

.news a img{
    width: 120px;
    height: 80px;
    float: left;
    margin-right: 10px;
}

.news a{
    text-decoration: none;
    color: black;
}
.news a p strong{
    font-size: 13px
}
.right{
    width: 70%;
    float: right;
}

.mid{
    width: 65%;
    display: inline-block;
    margin-left: 25px;
}

.big-pic a img{
    width: 100%;
    height: 100%;
}
h1{
    margin: 15px 0;
}
.big-pic a{
    text-decoration: none;
    color: black;
}

.big-pic:hover a{
    color: #006BA0;
}

.mid p{
    margin-bottom: 15px;
    color: #444;
    font-size: 14px;
}
.mid ul li a{
 text-decoration: none;
 color: black;
 
 
}

.mid ul{
    padding-left: 30px;
}

.two{
    width: 29%;
    float: right;
    display: inline-block;
}
.hello{
    margin-bottom: 40px;
}
.hello a img{
    width: 100%;
}

.hello a{
    text-decoration: none;
    color: black;
    
}

.hello:hover a{
    color: #006BA0;
}

.hello a span strong{
    font-size: 15px;
}

.mid ul li a:hover{
    color: #006BA0;
}

.media{
    max-width: 1100px;
    width: 100%;
    display: block;
    background-color: #ffde76;
    padding: 15px;
    margin: 0 auto;
}
.xuatban-1{
    width: 25%;
    display: inline-block;
    padding-right: 1%;
    padding-bottom: 5%;
    float: left;
}

.xuatban-1 .big-news a img{
    width: 100%;
    height: 180px;
}

.xuatban-1 ul li a{
    text-decoration: none;
    color: black;
}

.xuatban-1 ul li{
    padding: 7% 0;
    border-top: 1px solid #eee;
}

.xuatban-1 ul li a{
    font-weight: 600;
    font-size: 80%;
}
.xuatban-1 ul li:hover a{
    color: #006BA0;
}

.xuatban-1 ul{
    list-style: none;
}
.around{
    width: 100%;
    display: inline-block;
}

.media span strong{
    font-size: 1.25rem;
}
.media ul{
    display: inline-block;
    margin-bottom: 30px;
}

.media ul li{
    display: inline-block;
    margin-left: 20px;
}

.media ul li a{
    text-decoration: none;
    color: black;
    font-size: 0.875rem;
}

.media ul li a:hover{
    color: #006BA0;
}
.fa-youtube{
    color: #dd3333;
    margin-right: 5px;
}

.yellow-left{
    width: 49%;
    display: inline-block;
  
}

.yellow-left a img{
    width: 100%;
}

.yellow-left a{
    text-decoration: none;
    color: black;

}

.yellow-left a p{
    display: inline-block;
}
.around .yellow-left a:hover p strong{
    color: #006BA0;
}
.yellow-left p{
    font-size: 14px;
    color: #333333;
    margin-top: 15px;
}
.yellow-left a p strong{
    font-size: 23px;
}
.fa-image{
    margin-right: 7px;
    font-size: 15px;
    color: #777777;
}
.yellow-right{
    width: 50%;
    float: right;
}
.pointer{
   
    width: 49%;
    padding-bottom: 2%;
    padding-right: 1%;
    float: left;
}
.pointer a img{
    width: 240px;
    height: 165px;
    object-fit: cover;
}

.pointer a{
   
    text-decoration: none;
    color: black;
}

.pointer a p{
    font-size: 13px;
}

.pointer:hover a{
    color: #006BA0;
}

.book{
    width: 1100px;
    display: inline-block;
    height: 300px;
    margin-top: 20px;
    overflow: auto;
}

.book p strong{
    font-size: 1.25rem;
    
}

.book p{
    
    padding-bottom: 10px;
}
.fa-book{
    color: #dd3333;
    margin-right: 5px;
}
.book ul li{
    display: inline-block;
    margin-top: 10px;
    border: 1px solid #ccc;
    height: 220px;
    margin-right: 15px;
}

.book ul{
    padding-top: 10px;
    width: 100%;
    display: inline-flex;
    border-top: 1px solid #ccc;
}

.book ul li:hover a{
    color: #006BA0;
}

.book ul li a{
    display: flex;
    width: 204px;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.book ul li a img{
    width: 204px;
    height: 150px;
    margin-bottom: 10px;
}
.book ul li span{
    height: 50px;
    display: block;
}

.book ul li a strong{
    margin-bottom: 10px;
    margin-left: 10px;
}

.list-news{
    width: 68%;
    display: inline-block;
    float: left;
    margin-top: 2%;

    
}

.article-item img{
    width: 250px;
    height: 160px;
    float: left;
    margin-right: 20px;
}

.article-item{
   
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 20px;
    float: left;
    margin-bottom: 20px;
}

.article-item:hover h2{
    color: #006BA0;
}

.article-item a {
    text-decoration: none;
    
}

.article-item a h2{
    color: black;
    font-size: 20px;
}

.article-item p{
    font-size: 14px;
    color: #888;
    margin-top: 10px;
}

.hotnews{
    width: 30%;
    display: inline-block;
    float: right;
    border: 1px solid #EEEEEE	;
    padding: 3% 2%;
    margin-left: 1%;
    margin-top: 2%;
}
.hotnews-1{
    width: 30%;
    display: inline-block;
    float: right;
    border: 1px solid #EEEEEE	;
    padding: 3% 2%;
    margin-left: 1%;
}
.small-news{
    float: left;
    margin: 15px 0;
    width: 100%;
}

.small-news:hover a p strong{
    color: #006BA0;
}
.small-news a img{
    width: 72px;
    height: 72px;
    float: left;
    margin-right: 15px;
    object-fit: cover;
    border-radius: 10px;
}

.small-news .title{
    font-size: 9px;
    color: #333;
    cursor: pointer;
}

.small-news a{
    text-decoration: none;
}
.small-news a p strong{
    font-size: 13px;
    color: black;
}

.podcast{
    width: 30%;
    display: inline-block;
    float: right;
    background-color: #2f2f3f;
    margin-top: 15px;
}



.podcast .sub-pod img{
    width: 85%;
    display: block;
    margin: 15px 0;
}

.sub-pod{
    
    text-align: -webkit-center;
    width: 85%;
    margin: 0 auto;
   
    padding-bottom: 10px;
}

.podcast .sub-pod div img{
    width: 120px;
}


.podcast .sub-pod span strong{
    color: white;

}

.pod-new a img{
    width: 72px;
    height: 50px;
    float: left;
    margin-right: 10px;
    border-radius: 10px;
}

.pod-new{
    float: left;
    width: 80%;
  
    padding: 15px 0;
    border-top: 1px solid rgba(255,255,255,0.1);
    margin-left: 30px;
}

.pod-new a:hover p strong{
    color: #04b2f7;
}
.pod-new a{
    text-decoration: none;
}

.pod-new a p strong{
    color: white;
    font-size: 13px;
}

.lifestyle{
    width: 100%;
    display: inline-block;
}

.life-left{
    width: 68%;
    float: left;
    display: inline-block;
}

.life-left .life-title{
    display: block;
    
    font-size: 1.25rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    width: 100%;
}
.life-left .life-title a{
    text-decoration: none;
    color: black;
}
.fa-hand-holding-heart{
    color: #dd3333;
   
    margin-right: 5px;
}
.resort{
    width: 68%;
    display: inline-block;
    float: left;
    margin-top: 20px;
}
.resort:hover a{
    color: #006BA0;
}
.resort a img{
    width: 100%;
}

.resort a{
    text-decoration: none;
    color: black;
}

.resort p{
    font-size: 14px;
    margin-top: 15px;
}
.resort a h4{
    font-size: 23px;
}
.two-blocks{
    width: 30%;
    display: inline-block;
    float: right;
    padding-left: 2%;
    margin-top: 20px;
}



.two-blocks:hover a{
    color: #006BA0;
}

.two-blocks a{
    text-decoration: none;
    color: black;
}

.two-blocks a img{
    width: 100%;
    margin-bottom: 10px;
}

.four-items{
    width: 100%;
    display: inline-block;
}

.xuatban{
    width: 25%;
    float: left;
    padding-right: 1%;
    padding-bottom: 5%;
}

.xuatban a img{
    width: 100%;
    height: 172px;
    display: block;
    margin-bottom: 10px;
}

.big-news p{
    display: block;
    font-size: 1.19rem;
    cursor: pointer;
    padding-bottom: 15px;
}

.big-news:hover a{
    color: #006BA0;
}
.small-item{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    border-top: 1px solid #EEEEEE;
    padding-top: 10px;
}

.small-item:hover a{
    color: #006BA0;
}

.small-item a img{
    width: 105px;
    height: 70px;
    float: left;
    margin-right: 10px;
}

.small-item a{
    text-decoration: none;
    color: black;
}

.small-item a span strong{
    font-size: 13px;
    
}
.fa-pencil{
    color: #dd3333;
    font-size: 1.25rem;
    margin-right: 5px;
}

.big-news a{
    text-decoration: none;
    color: black;
}

.big-news a span strong{
    font-size: 17px;
    
}

.big-news{
    margin-bottom: 40px;
    
}

.four-items{
    margin-top: 50px;
    border-top: 2px solid black;
    padding-top: 20px;
}

#body-content{
    width: 100%;
    background-color: #eee;
}
    

.magazine{
    
    max-width: 1100px;
    margin: 0 auto;
   
    
    padding: 1% 0;
}

.magazine ul li{
    width: 23.9%;
    display: inline-block;
    height: 435px;
    position: relative;
    padding-right: 0.5%;
    margin-right: 0.5%;
   
}

.magazine ul li:hover p{
    color: #ffde76;
}
.tapchi{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.magazine ul li:hover i{
    background-color: #ffde76;
    color: black;
}
.magazine ul{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.magazine ul li a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    border-radius: 2%;
}

.magazine ul li a span{
    position: absolute;
    
    left: 30%;
    top: 8px;
}
.magazine ul li a span strong{
    color: black;
    background-color: #ffde76;
    padding: 10px 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
}
.magazine ul li a p{
    position: absolute;
    bottom: 35%;
    text-align: center;
    color: white;
    margin: 0 10%;
    font-size: 20px;

}

.magazine ul li a div{
    width: 50px;
    height: 5px;
    background-color: #ffde76;
    position: absolute;
    bottom: 55%;
    right: 40%;
}
.magazine ul li a i{
    position: absolute;
    bottom: 40px;
    left: 40%;
    color: #ffde76;
    background-color: #333;
    padding: 20px 20px;
    border-radius: 30px;
}

.fa-book-open{
    color: #dd3333;

    margin-right: 5px;
}

.magazine p{
    font-size: 1.25rem;
    margin: 30px 0;
}

.video{
   
    width: 100%;
    display: inline-block;
 
}

.left-video{
    display: inline-block;
    width: 70%;
    height: 380px;
}

.left-video img{
    width: 100%;
    height: 100%;
}

.right-video{
    width: 30%;
    float: right;
    display: inline-block;
    height: 380px;
    overflow: auto;
    background-color: #EEEEEE;
    padding-left: 15px;
    list-style: none;
    
}

.small-video{
    width: 100%;
    
   
}




.small-video a:hover p{
    color: #006BA0;
}

.small-video a span:hover{
    color: #006BA0;
}

.small-video a{
    text-decoration: none;
    color: black;
}

.video p{
    font-size: 1.25rem;
    margin: 30px 0;
}

.small-video a p{
    font-size: 13px;
    margin-bottom: 5px;
}

.small-video a span{
    font-size: 12px;
    color: #888;
}

.small-video a img{
    width: 120px;
    height: 80px;
    float: left;
    margin-right: 10px;
}

.fa-circle-play{
    color: #888;
    margin-right: 5px;
}

.fa-video{
    color: #dd3333;
    margin-right: 5px;
}

.xuatban ul li a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    
}
.xuatban ul{
    list-style: none;
}

.xuatban ul li{
    border-top: 1px solid #EEEEEE;
    padding:10px 0;
}
.xuatban ul li a:hover {
    color: #006BA0;
}

#footer{
    background-color: #f7f7f7;
    width: 100%;
    position: relative;
}

.end-left a img{
    width: 94px;
}

.end-left{
    display: inline-block;
    padding:20px 0;
}
.end-left p{
    font-size: 12px;
    line-height: 1.7;
    color: #888;
    font-family: sans-serif;
}
.end{
    width: 100%;
    max-width: 1100px;
    display: block;
    margin: 0 auto;
}

.end-right{
    display: inline-block;
    padding-bottom: 2%;
    position: absolute;
    bottom: 0;
    right: 12%;
}

.end-right ul li{
    display: inline-block;
    
}
.end-right ul li a{
    text-decoration: none;
    font-size: 12px;
    color: #888;
    border-right: 2px solid #888;
    padding-right: 6px;
}

.end-right p{
    font-size: 12px;
    line-height: 1.7;
    color: #888;
    font-family: sans-serif;
}

/* -----------Responsive----------- */

@media only screen and (max-width:1040px){
    #header .logo{
        
        position: absolute;
        left: 50%;
    }
    #header{
        position: relative;
    }
    #header .sub-header{
        display: none;
    }
    .more{
        margin-left: 2%;
    }
    .icon{
        display: inline-block;
        line-height: 52px;
        float: right;
        margin-right: 2%;
    }

}

@media only screen and (max-width:1024px){
    #content{
        width: 98%;
        padding: 0 2%;
        margin-top: 20px;
    }
    #content .hastag{
        display: none;
    }

  
    .left-and-right{
        display: inline-block;
        width: 100%;
    }
    #content .left{
        float: right;
      
    }

    #content .right{
        float: left;
    }
    #content .right .mid p,ul{
        display: none;
    }

    #content .right .mid{
        width: 98%;
        padding-right: 2%;
        margin: 0;
    }

    #content .right .two{
        width: 100%;
        display: flex;
        
        
    }

    .list-news{
        width: 100%;
    }

    .book{
        width: 100%;
    }

    .book ul{
        width: 100%;
        display: inline-flex;
    }
    #content .right .two .hello{
        width: 48%;
        display: inline-block;
        margin-right: 3%;
    }

    #content .right .two .hello img{
        height: 204px;
    }

    .media .around .yellow-left{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;;
    }

    .media .around .yellow-right{
        width: 100%;
    }

    .media .around .yellow-right .pointer{
        width: 50%;
        float: left;
        padding: 2% 2%;
    }

    .media .around .yellow-right .pointer a img{
        width: 100%;
        height: 288px;
        object-fit: cover;
    }

    .media .around .yellow-right .pointer a p{
        font-size: 100%;
    }

    .podcast, .hotnews{
        display: none;
    }

    .life-left{
        width: 68%;
    }
    .two-blocks{
        width: 30%;
        float: left;
        margin-left: 2%;
    }
    .lifestyle .life-title{
        width: 92%;
    }

    .four-items .xuatban .big-news{
        width: 100%;
    }

    .four-items .xuatban{
        width: 23%;
        margin-right: 2.6%;
    }

    .four-items .xuatban .big-news a img{
        width: 105px;
        height: 70px;
        float: left;
        margin-right: 10px;
    }

    .four-items .xuatban .big-news a strong{
        font-size: 13px;
    }

    .magazine{
        padding-left: 4%;
    }

    .magazine ul{
        width: 100%;
        display: inline-block;
    }

    .magazine ul li{
        width: 23.9%;
        display: inline-block;
        height: 435px;
        
        padding-right: 0.5%;
        margin-right: 1%;
        
    }

    .magazine ul li:nth-child(4){
        float: right;
        margin: 0;
    }
    #body-content{
        width: 100%;
    }
    
    .video .left-video{
        width: 100%;
        display: inline-block;
    }

    .video .right-video{
        width: 100%;
        display: inline-block;
        height: auto;
        background-color: #666;
        padding: 2% 0;
        transform: translateY(-4%);
    }

    .video .right-video li{
        display: inline-block;
    }

    .video .right-video .small-video a p{
        display: none;
        
    }
    .video .right-video .small-video{
        display: inline-block;
        width: 24.5%;
        padding: 0 0.5%;
     
    }
    .video .right-video .small-video a img{
        float: none;
        display: block;
        width: 100%;
        height: 100%;
    }

    .video .right-video .small-video a span strong{
        color: #ccc;
        
    }

    .video .right-video li:nth-child(5){
        display: none;
    }
    .video .right-video li:nth-child(6){
        display: none;
    }
    .video .right-video li:nth-child(7){
        display: none;
    }
    .video .right-video li:nth-child(8){
        display: none;
    }
    .video .right-video li:nth-child(9){
        display: none;
    }

    .video .right-video li:nth-child(10){
        display: none;
    }
    .xuatban-1{
        width: 48%;
        float: left;
    }

    .xuatban-1 .big-news a img{
        width: 100%;
        height: 290px;
    }

    .xuatban-1 ul{
        width: 100%;
        display: inline-block;
    }

    .xuatban-1 .big-news a span strong{
        font-size: 140%;
    }
    .end{
        width: 96%;
        padding: 0 2%;
    }

    .end-right{
        right: 5%;
    }
}


@media only screen and (max-width:718px){
    #content{
        width: 100%;
    }

    .left-and-right{
        width: 100%;
    }

    .right{
        width: 100%;
    }

    .left{
        width: 100%;
       
       
        border-top: 1px solid #ccc; 
    }

    .mid{
        width: 100%;
    }

    .yellow-right{
        width: 100%;
    }

    .yellow-right .pointer{
        width: 46%;
        float: left;
    

    }

    .yellow-right .pointer a p strong{
        font-size: 120%;
    }

    .list-news{
        width: 100%;
    }

    .life-left{
        width: 100%;
    }

    .hotnews-1{
        display: block;
        width: 100%;
        border: none;
        padding: 0;
    }

    .hotnews-1 h3{
        border-bottom: 1px solid #ccc;
        padding-bottom: 2%;
        font-size: 150%;
    }

    .hotnews-1 a img{
        display: none;
    }

    .small-news .title{
        font-size: 70%;
    }

    .small-news{
        border-bottom: 1px solid #eee;
        padding-bottom: 2%;
    }
    .small-news a p strong{
        font-size: 100%;
    }

    .four-items{
        width: 100%;
    }

    .four-items .xuatban{
        width: 50%;
        margin: 0;
        
    }

    #body-content{
        width: 100%;
    }
    .magazine{
        width: 100%;
    }
    .magazine ul li{
        width: 31%;
        display: inline-block;
        height: 435px;
        
        
        margin-right: 1%;
    }
    .magazine ul li:nth-child(4){
        display: none;
    }

    .xuatban-1 .big-news a span strong{
        font-size: 120%;
    }

   #footer .end .end-right{
        display: none;
   }
   .end{
    text-align: center;
   }













}   